page-sobre {

}
.bk2 {background: url('../../assets/imgs/bk_eusouotemplo-2.png') left 44px no-repeat;
background-size: 100%;}
.container {background: #fff;border-radius: 5px;margin-top:52%;padding:1px 20px;margin-bottom: 10px;opacity: 0.95;}
.container h2 {border-bottom: 1px solid #ccc;padding-bottom: 10px;}
.container h2 span {color:#999;}